%button {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  border-radius: 4px;
  border: none;
}

%btn-site-theme {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $color-text-secondary;
  background-color: $color-site-accent;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  // transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include customTransition(background-color);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.hero__btn {
  @extend %button;
  @extend %btn-site-theme;

  padding: 10px 32px;
}

.form__btn {
  @extend %button;
  @extend %btn-site-theme;

  padding: 10px 28px;

  &--icon {
    margin-left: 10px;
    fill: currentColor;
  }
}

// --------------------------------------------------

.modal-form__btn-submit {
  @extend %button;
  @extend %btn-site-theme;

  padding: 10px 52px;
}

// -------------------------------------------------

.modal__btn-close {
  @extend %button;

  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;

  color: $color-site-dark;
  background-color: $color-bg-primary;
  border: 1px solid rgba(0, 0, 0, 0.1);

  // transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include customTransition(color);

  &:hover,
  &:focus {
    color: $color-site-accent;
  }
}

.modal__btn-close--icon {
  fill: currentColor;
}

// --------------------------------------------------

.filter-list__button {
  @extend %button;

  padding: 8px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: $color-text-title;
  background-color: $color-bg-secondary;

  // transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  //   background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  //   box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include customTransition(color, background-color, box-shadow);
}

.filter-list__button:hover,
.filter-list__button:focus {
  color: $color-text-secondary;
  background-color: $color-site-accent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
